    @import url('https://fonts.googleapis.com/css2?family=Londrina+Shadow&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;800&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Mogra&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Pirata+One&display=swap');

    * {
        margin: 0;
        padding: 0;
        scroll-behavior: smooth;
    }

    body {
        background-image: url(../img/bg-main1.png);
        background-size: cover;
        background-attachment: fixed;
        font-family: 'Montserrat', sans-serif;
    }

    /* =====================TOPBAR===================== */
    div.navbar {
        width: 100%;
        background-color: #124559;
        position: fixed;
        box-sizing: border-box;
        z-index: 999;
    }
    .navbar .nav-atas {
        height: 75px;
        width: 100%;
        background-color: #01161E;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .navbar .nav-atas .logo {
        font-family: 'Londrina Shadow', cursive;
        font-size: 2.5em;
        display: flex;
        align-items: center;
    }
    .navbar .nav-atas img {
        width: 40px;
        height: 40px;
        padding-right: 10px;
        animation: animasiLogo 3s ease infinite;
    }
    .navbar .nav-atas .logo ul {
        list-style: none;
    }
    .navbar .nav-atas .logo ul li a {
        text-decoration: none;
        color: #fff;
    }
    .navbar .nav-atas .logo ul li a:hover {
        color: coral;
    }

    .navbar .nav-atas .menu {
        list-style: none;
        max-width: 700px;
        width: 40%;
        font-family: 'Poppins', sans-serif;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        box-sizing: border-box;
    }
    .navbar .nav-atas .menu li {
        padding: 10px 0;
        box-sizing: border-box;
    }
    .navbar .nav-atas .menu li a {
        text-decoration: none;
        color: #fff;
        position: relative;
        padding-bottom: 2px;
    }
    .navbar .nav-atas .menu li a:hover {
        color: coral;
    }
    .navbar .nav-atas .menu li a::after {
        content: '';
        height: 2px;
        width: 0;
        background-color: white;
        position: absolute;
        bottom: 0;
        left: 0;
        transition: width 0.4s;
        border-radius: 10px;
    }
    .navbar .nav-atas .menu li a:hover::after {
        width: 100%;
        background-color: coral;
    }
    .navbar .nav-atas .menu li.sign-up a {
        color: white;
        background-color: #124559;
        border: 4px solid white;
        padding: 4px 15px;
        border-radius: 15px;
        box-sizing: border-box;
        box-sizing: border-box;
        transition: all 0.4s;
    }
    .navbar .nav-atas .menu li.sign-up a:hover {
        color: white;
        background-color: #124559;
        border: 4px solid #124559;

    }
    .navbar .nav-atas .menu li.sign-up a::after {
        content: none;
    }

    .space {
        height: 100px;
        width: 100%;
    }

    /* ==================SCROLL BACK TO TOP================== */
    .scroll {
        width: 50px;
        border-radius: 50%;
    }
    .scroll img {
        width: 50px;
        position: fixed;
        bottom: 30px;
        right: 30px;
        z-index: 9999;
    }
    .scroll p {
        display: none;
        position: fixed;
        bottom: 90px;
        right: 10px;
        z-index: 9999;
        padding: 5px;
        border-radius: 5px;
        background-color: black;
        color: white;
        transform: translate(3px, -5px);
    }
    .scroll p::after {
        content: '';
        border: 10px solid black;
        border-left-color: transparent;
        border-right-color: transparent;
        border-bottom-color: transparent;
        position: absolute;
        left: 38px;
        bottom: -17px;
    }
    .scroll img:hover {
        box-shadow: 0px 0px 8px black;
    }
    .scroll a:hover ~ p {
        display: block;
    }
    /* =====================SEARCH===================== */
    .search {
        padding-top: 10px;
        text-align: center;
        margin-bottom: 20px;
    }
    .search div {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .search div h3 {
        font-weight: bold;
        position: relative;
        transition: all 0.3s;
    }
    .search div h3:hover {
        width: fit-content;
        color: salmon;
    }
    .search div h3::after {
        content: "";
        width: 100%;
        height: 0;
        background-color: black;
        position: absolute;
        bottom: -2px;
        left: 0;
        border-radius: 10px;
        transition: all 0.3s;
    }
    .search div h3:hover::after {
        height: 5px;
        background-color: salmon;
    }

    .search input {
        margin-top: 10px;
        width: 40%;
        padding: 10px 5px;
        text-align: center;
        border-radius: 10px;
        border: 1px solid black;
        background-color: rgba(255, 255, 255, 0.8);
    }
    .search input:hover {
        box-shadow: 0px 2px 5px #01161E;
        background-color: transparent;
    }

    /* =====================CONTENT===================== */
    .content-materi {
        margin: 0 20px;
        background-image: url(../img/bg-main2.png);
        background-size: cover;
        background-attachment: fixed;
        box-sizing: border-box;
        border-radius: 10px;
        padding: 5px 20px;
        box-sizing: border-box;
    }
    .content-materi .judul {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .content-materi h2 {
        padding: 20px;
        width: fit-content;
        position: relative;
    }
    .content-materi h2::after {
        content: "";
        width: 100%;
        height: 0;
        position: absolute;
        bottom: 10px;
        left: 0;
        background-color: black;
        border-radius: 10px;
        transition: all 0.2s;
    }
    .content-materi h2:hover {
        color: salmon;
        transition: all 0.2s;
    }
    .content-materi h2:hover::after {
        background-color: salmon;
        height: 7px;
    }
    .content-materi ul {
        width: 100%;
        list-style: none;
        background-color: #01161eaf;
        border-radius: 10px;
        overflow: hidden;
    }
    .content-materi ul li {
        width: 100%;
        padding: 10px;
        text-align: start;
        box-sizing: border-box;
        transition: all 0.4s;
    }
    .content-materi ul li:hover {
        background-color: rgba(255, 255, 255, 0.6);
        color: black;
    }
    .content-materi ul li:hover a {
        color: black;
    }
    .content-materi ul li:hover a:hover {
        color: salmon;
    }
    .content-materi ul li a {
        padding: 10px 25px;
        text-decoration: none;
        color: white;
        margin-left: 20px;
        box-sizing: border-box;
    }
    .content-materi .lengkap {
        width: 100%;
        margin-top: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .content-materi .lengkap h3 {
        width: fit-content;
        text-align: center;
        margin-bottom: 10px;
        padding: 10px;
        box-shadow: 0px 3px 6px #01161e93;
        border-radius: 10px;
    }
    .content-materi .lengkap h3 a {
        text-decoration: none;
        color: black;
        padding: 5px 0;
        box-sizing: border-box;
        font-size: 0.8em;
        position: relative;
    }
    .content-materi .lengkap h3 a:hover {
        color: salmon;
        transition: all 0.4s;
    }
    .content-materi .lengkap h3 a::after {
        content: "";
        width: 0%;
        height: 2px;
        background-color: #01161E;
        position: absolute;
        bottom: 0;
        left: 0;
        transition: all 0.4s;
    }
    .content-materi .lengkap h3 a:hover::after {
        background-color: salmon;
        width: 100%;
    }


    /* =====================FOOTER===================== */
    .footer {
        margin-top: 100px;
        width: 100%;
        background-image: url(../img/bg-footer.png);
        background-size: cover;
        background-attachment: fixed;
        box-sizing: border-box;
        cursor: default;
    }
    
    .footer .footer-content {
        padding: 80px 0 30px 0;
        width: 100%;
        display: flex;
        justify-content: space-around;
        box-sizing: border-box;
    }
    .footer .footer-content .kiri {
        text-align: center;
        width: 30%;
        box-sizing: border-box;
    }
    .footer .footer-content .kiri h3 {
        font-size: 1.5em;
        margin-bottom: 20px;
    }
    .footer .footer-content .kiri p {
        font-size: 1em;
    }
    .footer .footer-content .kiri p a {
        color: black;
        text-decoration: none;
    }
    .footer .footer-content .kiri p a:hover {
        color: salmon;
    }
    
    
    .footer .footer-content .kanan {
        text-align: center;
        width: 30%;
        box-sizing: border-box;
    }
    .footer .footer-content .kanan h3 {
        font-size: 1.5em;
        margin-bottom: 20px;
    }
    .footer .footer-content .kanan .sosmed {
        margin-bottom: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    .footer .footer-content .kanan .sosmed div {
        width: 23%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        position: relative;
    }
    .footer .footer-content .kanan .sosmed div a {
        width: 80%;
        display: block;
        border-radius: 50%;
    }
    .footer .footer-content .kanan .sosmed div a img {
        width: 100%;
        transform: translateY(1px);
        border-radius: 50%;
    }
    .footer .footer-content .kanan .sosmed div a img:hover {
        box-shadow: 0px 3px 5px black;
        transform: translateY(-1px);
    }
    .footer .footer-content .kanan .sosmed div p {
        position: absolute;
        display: none;
        transform: translateY(60px);
        padding: 4px 15px;
        border-width: 1px;
        border-radius: 5px;
        color: white;
        background-color: black;
    }
    .footer .footer-content .kanan .sosmed div p::after {
        content: '';
        border: 10px solid black;
        border-top-color: transparent;
        border-left-color: transparent;
        border-right-color: transparent;
        position: absolute;
        left: 45px;
        top: -15px;
    
    }
    .footer .footer-content .kanan .sosmed div a:hover ~ p {
        display: block;
    }
    
    .footer .footer-content .kanan ul {
        list-style: none;
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        box-sizing: border-boxs;
    }
    .footer .footer-content .kanan ul li {
        background-color: gray;
        border-radius: 10px;
    }
    .footer .footer-content .kanan ul li a {
        text-decoration: none;
        background-color: salmon;
        padding: 5px 15px;
        border-radius: 10px;
        border: 1px solid salmon;
        color: black;
    }
    .footer .footer-content .kanan ul li a:hover {
        color: white;
        background-color: black;
        border: 1px solid white;
    }
    
    .footer-logo {
        padding: 20px 0 20px 0;
        text-align: center;
    }
    .footer-logo p.atas {
        font-family: 'Londrina Shadow', cursive;
        font-size: 2em;
        font-weight: bold;
        margin-bottom: 5px;
    }
    .footer-logo p.bawah {
        font-size: 1em;
        font-weight: bold;
        margin-bottom: 30px;
    }
    .footer-content p:hover,
    .footer-logo p.atas:hover,
    .footer-logo p.bawah:hover {
        color: white;
    }
    
    .footer .footer-end ul {
        list-style: none;
        background-color: #124559;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 15px;
        box-sizing: border-box;
    }
    .footer .footer-end ul li::after {
        content: '|';
        margin: 0 8px;
        color: white;
    }
    .footer .footer-end ul li:last-child::after {
        display: none;
    }
    .footer .footer-end ul li a {
        text-decoration: none;
        color: white;
        text-transform: uppercase;
        font-size: 0.9em;
    }
    .footer .footer-end ul li a:hover {
        color: salmon;
        border-radius: 5px;
    }

    /* ==========================RESPONSIVE========================== */

    @media screen and ( max-width: 1250px) {

        /* ===========FOOTER=========== */
        .footer .footer-content .kiri,
        .footer .footer-content .kanan {
            width: 45%;
        }
    }

    @media screen and ( max-width: 900px) {
    }

    @media screen and ( max-width: 850px) {
        /* ===========FOOTER=========== */
        .footer .footer-content {
            flex-direction: column;
            align-items: center;
        }
        .footer .footer-content .kiri {
            margin-top: -20px;
            margin-bottom: 30px;
        }
        .footer .footer-content .kiri p {
            width: 100%;
        }
        .footer .footer-content .kiri,
        .footer .footer-content .kanan {
            width: 100%;
        }
        .footer .footer-content .kanan div a img {
            width: 10%;
        }
        .footer .footer-content .kanan ul {
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        .footer .footer-content .kanan ul li {
            margin-bottom: 20px;
        }
        .footer .footer-content .kanan ul li:first-child::after {
            display: none;
        }
        .footer .footer-end ul {
            flex-wrap: wrap;
        }
        .footer .footer-end ul li a {
            font-size: 0.7em;
        }
    }

    @media screen and ( max-width: 768px) {
        .navbar .nav-atas .logo {
            font-size: 2em;
        }
        .navbar .nav-atas .menu {
            font-size: 90%;
            width: 50%;
        }

        /* ===========SCROLL=========== */
        .search input {
            width: 60%;
        }

        /* ===========CONTENT=========== */
        .content-materi .judul h2 {
            font-size: 1.2em;
        }
        .content-materi ul li a {
            font-size: 0.8em;
        }
        .content-materi .lengkap h3 {
            font-size: 0.85em;
        }

        /* ===========FOOTER=========== */
        .footer .footer-content .kiri,
        .footer .footer-content .kanan {
            width: 100%;
        }
    }

    @media screen and ( max-width: 600px) {
        .navbar .nav-atas {
            flex-direction: column;
            height: 110px;
        }
        
        .navbar .nav-atas .logo {
            font-size: 2.3em;
        }
        .navbar .nav-atas img {
            display: none;
        }
        .navbar .nav-atas .menu {
            font-size: 80%;
            padding-top: 0;
            width: 100%;
        }
        
        /* ===========SCROLL=========== */
        .search {
            margin-top: 20px;
        }
        .search input {
            width: 70%;
        }

        /* ===========CONTENT=========== */
        .content-materi .judul h2 {
            font-size: 1.2em;
        }
        .content-materi ul li a {
            font-size: 0.8em;
        }
        .content-materi .lengkap h3 {
            font-size: 0.85em;
        }

        /* ===========FOOTER=========== */
        .footer .footer-content {
            justify-content: center;
        }
        .footer .footer-content p {
            width: 80%;
        }
        .footer .footer-content .kanan div a img {
            width: 15%;
        }
    }


    @keyframes animasiLogo {
        0% {
            transform: translateY(0px);
        }

        50% {
            transform: translateY(-5px);
        }
        
        100% {
            transform: translateY(0px);
        }
    }

    @keyframes animasiQuotes {
        0% {
            transform: translateY(20px);
        }

        50% {
            transform: translateY(-20px);
        }
        
        100% {
            transform: translateY(20px);
        }
    }

    @keyframes mainMaterial {
        0% {
            transform: translateY(-2px);
        }
        25% {
            transform: translateY(2px);
        }
        50% {
            transform: translateY(-2px);
        }
        75% {
            transform: translateY(2px);
        }
        100% {
            transform: translateY(-2px);
        }
    }