* {
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

body {
    background-image: url(../img/bg-main2.png);
    background-size: cover;
    background-attachment: fixed;
}

.main {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main ul {
    list-style: none;
    width: 90%;
    height: 200px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-sizing: border-box;
}
.main ul li {
    width: fit-content;
    margin: 10px;
    box-sizing: border-box;
    transition: all 0.3s;
    border-radius: 10px;
}
.main ul li:hover {
    transform:  translateY(-5px);
}
.main ul li a {
    display: flex;
    height: 40px;
    width: 200px;
    justify-content: center;
    align-items: center;
    background-color: salmon;
    color: black;
    text-decoration: none;
    border-radius: 10px;
    box-shadow: 0px 2px 4px black;
    border: 1px solid rgb(187, 92, 81);
}

.main ul li a:hover {
    color: white;
    background-color: rgb(25, 25, 128);
    box-shadow: 0px 3px 7px black;
}
