
* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body {
    background-image: url(../img/bg-main2.png);
    background-size: cover;
    background-attachment: fixed;
}

.main {
    padding: 20px;
    box-sizing: border-box;
}

/* ======================NAVBAR====================== */
.navbar {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    box-sizing: border-box;
    z-index: 999999;
}

.navbar ul {
    width: 100%;
    height: 40px;
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    box-sizing: border-box;
}
.navbar ul li {
    width: 25%;
    height: 100%;
    background-color: gray;
}
.navbar ul li a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: rgb(44, 34, 184);
    color: white;
    text-decoration: none;
    box-sizing: border-box;
}
.navbar ul li a.active {
    color: salmon;
    background-color: rgb(31, 24, 124);
    border-bottom: 5px solid black;
}
.navbar ul li a:hover {
    color: salmon;
    background-color: rgb(31, 24, 124);
    border-bottom: 5px solid black;
}

/* ======================FORMULIR====================== */
.form {
    margin-top: 10px;
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}
.border {
    width: 40%;
    padding: 30px 15px;
    background-color: transparent;
    margin: 50px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 15px;
    box-sizing: border-box;
    box-shadow: 0px 1.5px 3px black;
    transition: all 0.2s;
}
.border:hover {
    box-shadow: 0px 3px 7px black;
    transform: translateY(10px);
    background-color: rgba(255, 255, 255, 0.8);
}
.border h1 {
    margin-bottom: 20px;
    text-decoration: underline;
}
.border label {
    margin-bottom: 5px;
    font-size: 1.2em;
    font-weight:bold;
}
.border input {
    margin-bottom: 10px;
}
.border:hover input[type="text"] {
    background-image: url(../img/bg-main2.png);
    background-size: cover;
    background-attachment: fixed;
}
.border input[type="text"] {
    text-align: center;
    border-radius: 10px;
    width: 80%;
    padding: 5px 10px;
    border: 1px solid black;
    background-color: rgba(255, 255, 255, 0.8);
}
.border input[type="submit"] {
    width: 85%;
    margin-top: 15px;
    padding: 10px 0;
    border-radius: 10px;
    border: 1px solid black;
    background-color: lightgreen;
}
.border input[type="submit"]:hover {
    background-color: salmon;
    color: white;
}

form {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logout {
    width: 35px;
    padding: 5px  5px 1px 20px;
    background-color: rgba(255, 255, 255, 0.5);
    position: fixed;
    z-index: 9999999999999;
    left: -15px;
    top: 70px;
    border-radius: 10px;
    box-shadow: 0px 1px 2px black;
    animation: logout-translate 60s ease infinite;
}
.logout:hover {
    box-shadow: 0px 2px 5px black;
}
.logout img {
    width: 100%;
}

.logout p {
    position: absolute;
    width: 70px;
    text-align: center;
    padding: 4px 10px;
    color: white;
    opacity: 1;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    transform: translate(10px, -75px);
    display: none;
}
.logout a:hover ~ p {
    display: block;
}

.back-to-menu {
    position: absolute;
    width: 130px;
    top: 50px;
    right: 50px;
    text-transform: uppercase;
    text-decoration: none;
    color: black;
    background-color: gray;
    padding: 5px 15px;
    text-align: center;
    border-radius: 7px;
}
.back-to-menu:hover {
    background-color: black;
    color: salmon;
}
/* ------------------------RESPONSIVE------------------------- */

@media screen and (max-width: 1000px) {
    .navbar ul li a {
        font-size: 0.9em;
    }
    .border {
        width: 60%;
    }
}

@media screen and (max-width: 700px) {

    
    .navbar ul {
        flex-direction: column;
        height: fit-content;
    }
    .navbar ul li {
        width: 100%;
    }
    .navbar ul li a { 
        padding: 5px;
        font-size: 0.8em;
    }
    .navbar ul li a.active {
        border-top: 2.5px solid black;
        border-bottom: 2.5px solid black;
    }
    .navbar ul li a:hover {
        border-top: 2.5px solid black;
        border-bottom: 2.5px solid black;
    }

    .form {
        margin-top: 80px;
    }
    .border {
        width: 80%;
    }
    .border h1 {
        font-size: 1.5em;
    }
    .border label {
        font-size: 0.9em;
    }


    .back-to-menu {
        top: 135px;
        right: 10px;
        width: 100px;
        font-size: 0.8em;
    }
}

@media screen and (max-width: 600px) {
    .border {
        width: 100%;
    }
    .border h1 {
        font-size: 1.2em;
    }
    .border label {
        font-size: 0.8em;
    }
}

@keyframes logout-translate {
    0% {
        transform: translateY(-10px);
    }
    50% {
        transform: translateY(350px);
    }
    100% {
        transform: translateY(-10px);
    }
}