
* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body {
    height: 1000px;
    background-image: url(../img/bg-main2.png);
    background-size: cover;
    background-attachment: fixed;
}

.main {
    padding: 20px;
    box-sizing: border-box;
}

/* ======================NAVBAR====================== */
.navbar {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    box-sizing: border-box;
    z-index: 999999;
}

.navbar ul {
    width: 100%;
    height: 40px;
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    box-sizing: border-box;
}
.navbar ul li {
    width: 25%;
    height: 100%;
    background-color: gray;
}
.navbar ul li a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: rgb(44, 34, 184);
    color: white;
    text-decoration: none;
    box-sizing: border-box;
}
.navbar ul li a.active {
    color: salmon;
    background-color: rgb(31, 24, 124);
    border-bottom: 5px solid black;
}
.navbar ul li a:hover {
    color: salmon;
    background-color: rgb(31, 24, 124);
    border-bottom: 5px solid black;
}

/* ==================SCROLL BACK TO TOP================== */
.scroll {
    width: 50px;
    border-radius: 50%;
}
.scroll img {
    width: 50px;
    position: fixed;
    bottom: 30px;
    right: 30px;
    z-index: 9999;
}
.scroll p {
    display: none;
    position: fixed;
    bottom: 90px;
    right: 10px;
    z-index: 9999;
    padding: 5px;
    border-radius: 5px;
    background-color: black;
    color: white;
    transform: translate(3px, -5px);
}
.scroll p::after {
    content: '';
    border: 10px solid black;
    border-left-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
    position: absolute;
    left: 38px;
    bottom: -17px;
}
.scroll img:hover {
    box-shadow: 0px 0px 8px black;
}
.scroll a:hover ~ p {
    display: block;
}

/* ======================FORMULIR====================== */
.search {
    margin: 30px 0;
    text-align: center;
}
.search h3 {
    font-size: 1.5em;
    margin-bottom: 10px;
}
.search input {
    width: 40%;
    height: 25px;
    text-align: center;
    border-radius: 7px;
    border: 1px solid black;
}


.content {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-radius: 10px;
    box-sizing: border-box;
}
.content ul {
    width: 100%;
    list-style: none;
    box-sizing: border-box;
}
.content ul li {
    width: 100%;
    margin: 10px 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    box-sizing: border-box;
    background-color: black;
    text-align: center;
    padding: 5px;
}
.content ul li:hover p {
    background-color: rgb(185, 185, 185);
}
.content ul li p {
    display: inline-block;
    background-color: rgb(95, 85, 85);
    padding: 5px;
    width: 65%;
}
.content ul li a {
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    background-color: red;
    padding: 5px;
    width: 15%;
    text-align: center;
    color: white;
}
.content ul li a:hover {
    color: black;
    background-color: green;
}


/* ======================LOGOUT====================== */
.logout {
    width: 35px;
    padding: 5px  5px 1px 20px;
    background-color: rgba(255, 255, 255, 0.5);
    position: fixed;
    z-index: 9999999999999;
    left: -15px;
    top: 70px;
    border-radius: 10px;
    box-shadow: 0px 1px 2px black;
    animation: logout-translate 60s ease infinite;
}
.logout:hover {
    box-shadow: 0px 2px 5px black;
}
.logout img {
    width: 100%;
}

.logout p {
    position: absolute;
    width: 70px;
    text-align: center;
    padding: 4px 10px;
    color: white;
    opacity: 1;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    transform: translate(10px, -75px);
    display: none;
}
.logout a:hover ~ p {
    display: block;
}

.back-to-menu {
    position: absolute;
    width: 130px;
    top: 50px;
    right: 50px;
    text-transform: uppercase;
    text-decoration: none;
    color: black;
    background-color: gray;
    padding: 5px 15px;
    text-align: center;
    border-radius: 7px;
}
.back-to-menu:hover {
    background-color: black;
    color: salmon;
}


/* ------------------------RESPONSIVE------------------------- */

@media screen and (max-width: 1000px) {
    .navbar ul li a {
        font-size: 0.9em;
    }

    .content ul {
        width: 80%;
    }
    .content ul li {
        width: 100%;
    }
    .content ul li p {
        width: 90%;
    }

    .content ul li {
        width: 100%;
        flex-direction: column;
    }
    .content ul li a {
        display: inline;
        width: 90%;
        font-size: 0.8em;
    }

}

@media screen and (max-width: 700px) {

    
    .navbar ul {
        flex-direction: column;
        height: fit-content;
    }
    .navbar ul li {
        width: 100%;
    }
    .navbar ul li a { 
        padding: 5px;
        font-size: 0.8em;
    }
    .navbar ul li a.active {
        border-top: 2.5px solid black;
        border-bottom: 2.5px solid black;
    }
    .navbar ul li a:hover {
        border-top: 2.5px solid black;
        border-bottom: 2.5px solid black;
    }


    .main .search h3 {
        margin-top: 120px;
    }

    .search input {
        width: 100%;
    }

    .back-to-menu {
        top: 140px;
        right: 10px;
        width: 40px;
        font-size: 0.5em;
    }
    .content ul {
        width: 100%;
    }
}

@keyframes logout-translate {
    0% {
        transform: translateY(-10px);
    }
    50% {
        transform: translateY(350px);
    }
    100% {
        transform: translateY(-10px);
    }
}