@import url('https://fonts.googleapis.com/css2?family=Londrina+Shadow&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mogra&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pirata+One&display=swap');

* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body {
    background-image: url(../img/bg-main1.png);
    font-family: 'Montserrat', sans-serif;
    background-size: cover;
    background-attachment: fixed;
}

/* =====================TOPBAR===================== */
div.navbar {
    width: 100%;
    background-color: #124559;
    position: fixed;
    box-sizing: border-box;
    z-index: 999;
}
.navbar .nav-atas {
    height: 75px;
    width: 100%;
    background-color: #01161E;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.navbar .nav-atas .logo {
    font-family: 'Londrina Shadow', cursive;
    font-size: 2.5em;
    display: flex;
    align-items: center;
}
.navbar .nav-atas img {
    width: 40px;
    height: 40px;
    padding-right: 10px;
    animation: animasiLogo 3s ease infinite;
}
.navbar .nav-atas .logo ul {
    list-style: none;
}
.navbar .nav-atas .logo ul li a {
    text-decoration: none;
    color: #fff;
}
.navbar .nav-atas .logo ul li a:hover {
    color: coral;
}

.navbar .nav-atas .menu {
    list-style: none;
    max-width: 700px;
    width: 40%;
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    box-sizing: border-box;
}
.navbar .nav-atas .menu li {
    padding: 10px 0;
    box-sizing: border-box;
}
.navbar .nav-atas .menu li a {
    text-decoration: none;
    color: #fff;
    position: relative;
    padding-bottom: 2px;
}
.navbar .nav-atas .menu li a:hover {
    color: coral;
}
.navbar .nav-atas .menu li a::after {
    content: '';
    height: 2px;
    width: 0;
    background-color: white;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: width 0.4s;
    border-radius: 10px;
}
.navbar .nav-atas .menu li a:hover::after {
    width: 100%;
    background-color: coral;
}
.navbar .nav-atas .menu li.sign-up a {
    color: white;
    background-color: #124559;
    border: 4px solid white;
    padding: 4px 15px;
    border-radius: 15px;
    box-sizing: border-box;
    box-sizing: border-box;
    transition: all 0.4s;
}
.navbar .nav-atas .menu li.sign-up a:hover {
    color: white;
    background-color: #124559;
    border: 4px solid #124559;
}
.navbar .nav-atas .menu li.sign-up a::after {
    content: none;
}

.space {
    height: 75px;
    width: 100%;
}

/* ==================SCROLL BACK TO TOP================== */
.scroll {
    width: 50px;
    border-radius: 50%;
}
.scroll img {
    width: 50px;
    position: fixed;
    bottom: 30px;
    right: 30px;
    z-index: 9999;
}
.scroll p {
    display: none;
    position: fixed;
    bottom: 90px;
    right: 10px;
    z-index: 9999;
    padding: 5px;
    border-radius: 5px;
    background-color: black;
    color: white;
    transform: translate(3px, -5px);
}
.scroll p::after {
    content: '';
    border: 10px solid black;
    border-left-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
    position: absolute;
    left: 38px;
    bottom: -17px;
}
.scroll img:hover {
    box-shadow: 0px 0px 8px black;
}
.scroll a:hover ~ p {
    display: block;
}

/* =====================CONTENT SATU===================== */
.c-satu {
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
}

.c-satu .satu-judul {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}
.c-satu .satu-judul img {
    height: 65px;
    width: 65px;
    animation: animasiLogo 3s ease infinite;
    margin-right: -10px;
}
.c-satu .satu-judul h1 {
    font-size: 32px;
    font-weight: bold;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
}

.c-satu .satu-gambar {
    margin: 50px 20px 10px 0px;
    max-width: 450px;
    width: 50%;
    float: left;
    box-sizing: border-box;
}
.c-satu .satu-gambar img {
    width: 100%;
    border: 3px solid #124559;
    box-sizing: border-box;
}
.c-satu p.caption {
    text-align: center;
}
.c-satu p.caption a {
    text-align: center;
    text-decoration: none;
    color: black;
}
.c-satu p.caption a:hover {
    color: coral;
}

.c-satu .satu-kalimat {
    margin-top: 50px;
    box-sizing: border-box;
}
.c-satu .satu-kalimat p {
    padding: 0px 20px 20px 20px;
    text-indent: 30px;
    padding-bottom: 10px;
    font-size: 1em;
}

.c-satu .clear {
    clear: left;
}

/* =====================CONTENT DUA===================== */
.c-dua {
    margin-top: 50px;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
}

.c-dua .dua-judul {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}
.c-dua .dua-judul img {
    height: 65px;
    width: 65px;
    animation: animasiLogo 3s ease infinite;
    margin-right: -10px;
}
.c-dua h1 {
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
}

.c-dua .dua-kalimat {
    width: 100%;
    margin-top: 50px;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.c-dua .dua-kalimat div {
    background-color: transparent;
    padding: 10px;
    width: 43%;
    flex: 1;
    margin: 10px;
    box-sizing: border-box;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0px 2px 2px black;
    transition: all 0.2s;
    cursor: default;
}
.c-dua .dua-kalimat div:hover {
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 0px 3px 5px black;
    transform: translateY(-5px);
}
.c-dua .dua-kalimat div h4 {
    margin: 10px 0;
    font-size: 1.2em;
}
.c-dua .dua-kalimat div hr {
    margin: 10px 0;
    background-color: black;
    width: 100%;
}
.c-dua .dua-kalimat div p {
    font-size: 0.85em;
    padding: 5px;
}

.c-dua hr {
    margin: 0 auto;
    width: 80%;
}


.c-dua .dua-gambar {
    display: flex;
    justify-content: space-between;
    align-items: top;
    box-sizing: border-box;
    padding: 20px;
    
}
.c-dua .dua-gambar div {
    width: 23%;
    transition: all 0.4s;
}
.c-dua .dua-gambar div img {
    width: 100%;
    border-radius: 10px;
    box-shadow: 0px 2px 2px #12455931;
}
.c-dua .dua-gambar div:hover {
    transform: translateY(-10px);
}
.c-dua .dua-gambar div img:hover {
    box-shadow: 0px 5px 5px #01161ea4;
}
.c-dua .dua-gambar p.caption {
    padding: 5px 0;
    text-align: center;
}
.c-dua .dua-gambar p.caption a {
    font-size: 0.8em;
    text-decoration: none;
    color: black;
}
.c-dua .dua-gambar p.caption a:hover {
    color: coral;
}

/* =====================CONTENT TIGA===================== */
.c-tiga {
    margin-top: 100px;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    background-image:  url(../img/bg-main2.png);
    background-size: cover;
    background-attachment: fixed;
    cursor: default;
}

.c-tiga .tiga-judul {
    margin: 20px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.c-tiga .tiga-judul div {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.c-tiga .tiga-judul div img {
    width: 100px;
    animation: animasiQuotes 5s ease infinite;
}
.c-tiga .tiga-judul div h1 {
    font-family: 'Pirata One', cursive;
    font-size: 5em;
    letter-spacing: 5px;
    text-align: center;
}
.c-tiga .tiga-judul p{
    width: fit-content;
    font-family: 'Morga', cursive;
    font-size: 1em;
    text-align: center;
}
.c-tiga .tiga-judul h1:hover, .c-tiga .tiga-judul p:hover {
    color: salmon;
}

/* =====================CONTENT EMPAT===================== */
.c-empat {
    margin-top: 100px;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
}

.c-empat .empat-judul {
    display: flex;
    justify-content: center;
    align-items: center;
}
.c-empat .empat-judul img {
    height: 65px;
    width: 65px;
    animation: animasiLogo 3s ease infinite;
    margin-right: -10px;
}
.c-empat .empat-judul h1 {
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
}

.c-empat .empat-gambar {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.c-empat .empat-gambar div {
    width: 50%; 
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
}
.c-empat .empat-gambar div img {
    width: 100px;
    padding: 0 5px;
    margin-right: 5px;
    transition: all 1s;
    border: 2px solid rgba(0, 0, 0, 0);
    transition: all 0.4s;
    box-sizing: border-box;
}
.c-empat .empat-gambar div:hover img {
    box-shadow: 0px 0px 10px black;
    border-radius: 10%;
    transform: rotate(360deg);
}

/* =====================FOOTER===================== */
.footer {
    margin-top: 100px;
    width: 100%;
    background-image: url(../img/bg-footer.png);
    background-size: cover;
    background-attachment: fixed;
    box-sizing: border-box;
    cursor: default;
}

.footer .footer-content {
    padding: 80px 0 30px 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    box-sizing: border-box;
}
.footer .footer-content .kiri {
    text-align: center;
    width: 30%;
    box-sizing: border-box;
}
.footer .footer-content .kiri h3 {
    font-size: 1.5em;
    margin-bottom: 20px;
}
.footer .footer-content .kiri p {
    font-size: 1em;
}
.footer .footer-content .kiri p a {
    color: black;
    text-decoration: none;
}
.footer .footer-content .kiri p a:hover {
    color: salmon;
}


.footer .footer-content .kanan {
    text-align: center;
    width: 30%;
    box-sizing: border-box;
}
.footer .footer-content .kanan h3 {
    font-size: 1.5em;
    margin-bottom: 20px;
}
.footer .footer-content .kanan .sosmed {
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.footer .footer-content .kanan .sosmed div {
    width: 23%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
}
.footer .footer-content .kanan .sosmed div a {
    width: 80%;
    display: block;
    border-radius: 50%;
}
.footer .footer-content .kanan .sosmed div a img {
    width: 100%;
    transform: translateY(1px);
    border-radius: 50%;
}
.footer .footer-content .kanan .sosmed div a img:hover {
    box-shadow: 0px 3px 5px black;
    transform: translateY(-1px);
}
.footer .footer-content .kanan .sosmed div p {
    position: absolute;
    display: none;
    transform: translateY(60px);
    padding: 4px 15px;
    border-width: 1px;
    border-radius: 5px;
    color: white;
    background-color: black;
}
.footer .footer-content .kanan .sosmed div p::after {
    content: '';
    border: 10px solid black;
    border-top-color: transparent;
    border-left-color: transparent;
    border-right-color: transparent;
    position: absolute;
    left: 45px;
    top: -15px;

}
.footer .footer-content .kanan .sosmed div a:hover ~ p {
    display: block;
}

.footer .footer-content .kanan ul {
    list-style: none;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    box-sizing: border-boxs;
}
.footer .footer-content .kanan ul li {
    background-color: gray;
    border-radius: 10px;
}
.footer .footer-content .kanan ul li a {
    text-decoration: none;
    background-color: salmon;
    padding: 5px 15px;
    border-radius: 10px;
    border: 1px solid salmon;
    color: black;
}
.footer .footer-content .kanan ul li a:hover {
    color: white;
    background-color: black;
    border: 1px solid white;
}

.footer-logo {
    padding: 20px 0 20px 0;
    text-align: center;
}
.footer-logo p.atas {
    font-family: 'Londrina Shadow', cursive;
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 5px;
}
.footer-logo p.bawah {
    font-size: 1em;
    font-weight: bold;
    margin-bottom: 30px;
}
.footer-content p:hover,
.footer-logo p.atas:hover,
.footer-logo p.bawah:hover {
    color: white;
}

.footer .footer-end ul {
    list-style: none;
    background-color: #124559;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    box-sizing: border-box;
}
.footer .footer-end ul li::after {
    content: '|';
    margin: 0 8px;
    color: white;
}
.footer .footer-end ul li:last-child::after {
    display: none;
}
.footer .footer-end ul li a {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-size: 0.9em;
}
.footer .footer-end ul li a:hover {
    color: salmon;
    border-radius: 5px;
}


/* ==========================RESPONSIVE========================== */

@media screen and ( max-width: 1250px) {

    /* ===========FOOTER=========== */
    .footer .footer-content .kiri,
    .footer .footer-content .kanan {
        width: 45%;
    }
}

@media screen and ( max-width: 900px) {
}

@media screen and ( max-width: 850px) {
    /* ===========FOOTER=========== */
    .footer .footer-content {
        flex-direction: column;
        align-items: center;
    }
    .footer .footer-content .kiri {
        margin-top: -20px;
        margin-bottom: 30px;
    }
    .footer .footer-content .kiri p {
        width: 100%;
    }
    .footer .footer-content .kiri,
    .footer .footer-content .kanan {
        width: 100%;
    }
    .footer .footer-content .kanan div a img {
        width: 10%;
    }
    .footer .footer-content .kanan ul {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .footer .footer-content .kanan ul li {
        margin-bottom: 20px;
    }
    .footer .footer-content .kanan ul li:first-child::after {
        display: none;
    }
    .footer .footer-end ul {
        flex-wrap: wrap;
    }
    .footer .footer-end ul li a {
        font-size: 0.7em;
    }
}

@media screen and ( max-width: 768px) {
    .navbar .nav-atas .logo {
        font-size: 2em;
    }
    .navbar .nav-atas .menu {
        font-size: 90%;
        width: 50%;
    }

    /* =================CONTENT SATU================= */
    .c-satu .satu-gambar p.caption a {
        font-size: 0.8em;
    }
    .c-satu .satu-kalimat p {
        font-size: 1em;;
    }

    /* =================CONTENT DUA================= */
    .c-dua .dua-gambar p.caption a {
        font-size: 0.8em;
    }

    .c-dua .dua-kalimat{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .c-dua .dua-kalimat div {
        width: 90%;
    }

    /* =================CONTENT TIGA================= */
    .c-tiga .tiga-judul p {
        font-size: 0.8em;
    }
    .c-tiga .tiga-judul div img {
        width: 20%;
        animation: animasiQuotes 5s ease infinite;
    }
    .c-tiga .tiga-judul div h1 {
        font-size: 4em;
    }

    /* =================CONTENT EMPAT================= */
    .c-empat .empat-gambar div {
        flex-direction: column;
        align-items: center;
    }

    /* ===========FOOTER=========== */
    .footer .footer-content .kiri,
    .footer .footer-content .kanan {
        width: 100%;
    }
}

@media screen and ( max-width: 600px) {
    .navbar .nav-atas {
        flex-direction: column;
        height: 110px;
    }
    
    .navbar .nav-atas .logo {
        font-size: 2.3em;
    }
    .navbar .nav-atas img {
        display: none;
    }
    .navbar .nav-atas .menu {
        font-size: 80%;
        padding-top: 0;
        width: 100%;
    }

    /* =================CONTENT SATU================= */
    .c-satu {
        margin-top: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .c-satu .satu-judul img {
        display: none;
    }

    .c-satu .satu-gambar {
        width: 80%;
        float: none;
    }
    .c-satu .satu-gambar p.caption a {
        font-size: 0.9em;
    }
    .c-satu .satu-kalimat p {
        font-size: 0.9em;
    }

    /* =================CONTENT DUA================= */
    .c-dua .dua-judul img {
        display: none;
    }
    

    .c-dua .dua-gambar {
        align-items: center;
        flex-direction: column;
    }
    .c-dua .dua-gambar div {
        width: 80%;
        margin-bottom: 20px;
    }
    .c-dua .dua-gambar p.caption a {
        font-size: 1em;
    }

    /* =================CONTENT TIGA================= */
    .c-tiga .tiga-judul div img {
        display: none;
    }
    .c-tiga .tiga-judul div h1 {
        font-size: 3em;
    }
    .c-tiga .tiga-judul div p {
        font-size: 0.6em;
    }

    /* =================CONTENT EMPAT================= */
    .c-empat .empat-judul img {
        display: none;
    }
    
    .c-empat .empat-gambar div {
        width: 100%;
    }
    .c-empat .empat-gambar div img {
        width: 200px;
        padding: 0 5px;
        margin-bottom: 10px;
    }
    .c-empat .empat-gambar div p.caption {
        text-align: center;
    }

    /* ===========FOOTER=========== */
    .footer .footer-content {
        justify-content: center;
    }
    .footer .footer-content p {
        width: 80%;
    }
    .footer .footer-content .kanan div a img {
        width: 15%;
    }
}


@keyframes animasiLogo {
    0% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(-5px);
    }
    
    100% {
        transform: translateY(0px);
    }
}

@keyframes animasiQuotes {
    0% {
        transform: translateY(20px);
    }

    50% {
        transform: translateY(-20px);
    }
    
    100% {
        transform: translateY(20px);
    }
}