@import url('https://fonts.googleapis.com/css2?family=Londrina+Shadow&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;800&display=swap');
* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body {
    background-image: url(../img/bg-main1.png);
    font-family: 'Montserrat', sans-serif;
    background-attachment: fixed;
}

/* =====================TOPBAR===================== */
div.navbar {
    width: 100%;
    background-color: #124559;
    position: fixed;
    box-sizing: border-box;
    z-index: 999;
}
.navbar .nav-atas {
    height: 75px;
    width: 100%;
    background-color: #01161E;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.navbar .nav-atas .logo {
    font-family: 'Londrina Shadow', cursive;
    font-size: 2.5em;
    display: flex;
    align-items: center;
}
.navbar .nav-atas img {
    width: 40px;
    height: 40px;
    padding-right: 10px;
    animation: animasiLogo 3s ease infinite;
}
.navbar .nav-atas .logo ul {
    list-style: none;
}
.navbar .nav-atas .logo ul li a {
    text-decoration: none;
    color: #fff;
}
.navbar .nav-atas .logo ul li a:hover {
    color: coral;
}

.navbar .nav-atas ul.menu {
    /* list-style: none;
    max-width: 700px;
    width: 40%;
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    box-sizing: border-box; */
    display: none;

}
.navbar .nav-atas ul.menu li.sign-up a {
    text-decoration: none;
    padding: 4px 30px;
    border-radius: 15px;
    box-sizing: border-box;
    border: 4px solid;
    box-sizing: border-box;
    transition: all 0.4s;
    color: black;
    animation: signUp ease 4s infinite;
}
.navbar .nav-atas ul.menu li.sign-up a:hover {
    color: white;
    background-color: #124559;
    border: 4px solid white;
    animation: none;
}
.navbar .nav-atas ul.menu li.sign-up a::after {
    content: none;
}

.space {
    height: 75px;
    width: 100%;
}



/* ==================DEVELOPER================== */
.developer {
    top: 100px;
    left: -15px;
    width: 80px;
    position: fixed;
    z-index: 999999;
}
.developer img {
    width: 100%;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    transition: all 0.4s;
    animation: devShadow 2.5s ease infinite;
    opacity: 0.5;
}
.developer img:hover {
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 5px 2px black;
    animation: none;
}

.developer p {
    position: absolute;
    top: 13px;
    right: -100px;
    color: white;
    background-color: black;
    padding: 7px 15px;
    border-radius: 7px;
    display: none;
    opacity: 0.7;
}
.developer p::after {
    content: '';
    height: 0;
    width: 0;
    border: 10px solid black;
    border-top-color: transparent;
    border-bottom-color: transparent;
    border-left-color: transparent;
    position: absolute;
    top: 6px;
    left: -15px;
}
.developer a:hover ~ p {
    display: block;
}


/* ==================SCROLL BACK TO TOP================== */
.scroll {
    width: 50px;
    border-radius: 50%;
}
.scroll img {
    width: 50px;
    position: fixed;
    bottom: 30px;
    right: 30px;
    z-index: 9999;
}
.scroll p {
    display: none;
    position: fixed;
    bottom: 90px;
    right: 10px;
    z-index: 9999;
    padding: 5px;
    border-radius: 5px;
    background-color: black;
    color: white;
    transform: translate(3px, -5px);
}
.scroll p::after {
    content: '';
    border: 10px solid black;
    border-left-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
    position: absolute;
    left: 38px;
    bottom: -17px;
}
.scroll img:hover {
    box-shadow: 0px 0px 8px black;
}
.scroll a:hover ~ p {
    display: block;
}

/* =====================CONTENT SATU===================== */
.c-satu {
    width: 100%;
    padding: 20px 20px;
    box-sizing: border-box;
    background-image:  url(../img/bg-index.png);
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: default;
}

.c-satu .satu-judul {
    width: 60%;
}
.c-satu .satu-judul h1 {
    font-size: 4em;
    text-align: center;
    text-shadow: 0px 2px 3px #01161E;
    transition: all 0.3s;
}
.c-satu .satu-judul p {
    text-align: center;
    text-shadow: 0px 0px 1px #01161E;
}
.c-satu .satu-judul div.link {
    margin-top: 20px;
    padding: 10px;
    text-align: center;
}
.c-satu .satu-judul div.link a {
    text-decoration: none;
    color: black;
    background-color: transparent;
    padding: 10px 70px;
    border: 2px solid #01161E;
    border-radius: 15px;
    transition: all 0.2s;
    animation: signUp 2s ease infinite;
}
.c-satu .satu-judul div.link a:hover {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border-color: white;
    box-shadow: 0px 0px 10px #01161e;
    animation: none;
}

.c-satu .satu-gambar {
    width: 40%;
}
.c-satu .satu-gambar img {
    width: 100%;
    animation: gambarJudul 3s ease infinite;
}

/* =====================CONTENT DUA===================== */
.c-dua {
    margin-top: 50px;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    cursor: default;
}

.c-dua .dua-judul {
    display: flex;
    justify-content: center;
    align-items: center;
}
.c-dua .dua-judul img {
    height: 65px;
    width: 65px;
    animation: animasiLogo 3s ease infinite;
    margin-right: -10px;
}
.c-dua .dua-judul h1 {
    font-size: 32px;
    font-weight: bold;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
    color: #01161E;
}

.c-dua .dua-gambar {
    margin-top: 50px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: top;
    box-sizing: border-box;
}
.c-dua .dua-gambar div {
    text-align: center;
    width: 20%;
    box-sizing: border-box;
    transition: all 0.7s;
}

.c-dua .dua-gambar img {
    border-radius: 10px;
    width: 80%;
    padding: 10px;
    margin-bottom: 10px;
    box-shadow: 0px 2px 2px #12455931;
}
.c-dua .dua-gambar div:hover {
    transform: translateY(-10px);
}.c-dua .dua-gambar div img:hover{
    box-shadow: 0px 5px 5px #01161ea4;
}
.c-dua .dua-gambar h2 {
    font-size: 100%;
    text-align: center;
    margin-bottom: 7px;
    color: #324b8b;
}
.c-dua .dua-gambar p {
    text-align: center;
    font-size: 0.8em;
    color: #4b5e8f;
}

/* =====================CONTENT TIGA===================== */
.c-tiga {
    margin-top: 100px;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    background-image: url(../img/bg-main2.png);
    background-attachment: fixed;
    background-size: cover;
    cursor: default;
}

.c-tiga .tiga-judul {
    display: flex;
    justify-content: center;
    align-items: center;
}
.c-tiga .tiga-judul img {
    height: 65px;
    width: 65px;
    animation: animasiLogo 3s ease infinite;
    margin-right: -10px;
}
.c-tiga .tiga-judul h1 {
    font-size: 32px;
    font-weight: bold;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
    color: #01161E;
}

.c-tiga .tiga-gambar {
    margin-top: 20px;
    text-align: center;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: top;
}
.c-tiga .tiga-gambar div {
    width: 40%;
}
.c-tiga .tiga-gambar img {
    border: 10px solid #324b8b;
    width: 60%;
    margin-bottom: 10px;
    border-radius: 50%;
    transition: all 0.4s;
}
.c-tiga .tiga-gambar img:hover {
    border: 10px solid black;
    border-radius: 10%;
}
.c-tiga .tiga-gambar img:hover ~ p{
    color: black;
}
.c-tiga .tiga-gambar p {
    font-size: 2em;
    font-weight: bold;
    color: #324b8b;
    pointer-events: none;
}

.c-tiga .tiga-kalimat {
    margin-top: 20px;
    display: flex;
    justify-content: space-evenly;
    align-items: top;
    text-align: center;
}

.c-tiga .tiga-kalimat div {
    margin: 20px;
    flex: 1;
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px;
    padding-bottom: 15px;
    box-sizing: border-box;
    box-shadow: 0px 4px 7px rgba(48, 49, 138, 0.671);
    transition: all 0.4s;
}
.c-tiga .tiga-kalimat div:hover {
    transform: translateY(-10px);
    background-color: #324b8b;
}
.c-tiga .tiga-kalimat div:hover h3 {
    color: white;
}
.c-tiga .tiga-kalimat div:hover p {
    color: white;
}
.c-tiga .tiga-kalimat div h3 {
    color: #324b8b;
}
.c-tiga .tiga-kalimat div hr {
    margin: 8px 0;
}
.c-tiga .tiga-kalimat div p {
    font-size: 0.9em;
    color: #4b5e8f;
}

/* =====================CONTENT EMPAT===================== */
.c-empat {
    margin-top: 70px;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    cursor: default;
}

.c-empat .empat-judul {
    display: flex;
    justify-content: center;
    align-items: center;
}
.c-empat .empat-judul img {
    height: 65px;
    width: 65px;
    animation: animasiLogo 3s ease infinite;
    margin-right: -10px;
}
.c-empat .empat-judul h1 {
    font-size: 32px;
    font-weight: bold;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
    color: #01161E;
}

.c-empat .empat-gambar {
    margin-top: 50px;
    display: flex;
    justify-content: space-evenly;
    align-items: top;
}
.c-empat .empat-gambar div {
    text-align: center;
    width: 30%;
    padding: 20px;
    box-sizing: border-box;
}
.c-empat .empat-gambar div a img {
    width: 80%;
    padding: 0 5px;
    margin-bottom: 10px;
    border: 2px solid rgba(0, 0, 0, 0);
    border-radius: 50%;
    transition: all 1s;
}
.c-empat .empat-gambar div a:hover img {
    box-shadow: 0px 0px 10px black;
    border-radius: 10%;
    transform: rotate(360deg);
}
.c-empat .empat-gambar div a:hover ~ p {
    color: black;
    font-size: 1.5em;
}
.c-empat .empat-gambar div p {
    font-size: 1.2em;
    font-weight: bold;
    color: #324b8b;
    transition: all 1s;
}

/* =====================FOOTER===================== */
.footer {
    margin-top: 100px;
    width: 100%;
    background-image: url(../img/bg-footer.png);
    background-size: cover;
    background-attachment: fixed;
    box-sizing: border-box;
    cursor: default;
}

.footer .footer-content {
    padding: 80px 0 30px 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    box-sizing: border-box;
}
.footer .footer-content .kiri {
    text-align: center;
    width: 30%;
    box-sizing: border-box;
}
.footer .footer-content .kiri h3 {
    font-size: 1.5em;
    margin-bottom: 20px;
}
.footer .footer-content .kiri p {
    font-size: 1em;
}
.footer .footer-content .kiri p a {
    color: black;
    text-decoration: none;
}
.footer .footer-content .kiri p a:hover {
    color: salmon;
}


.footer .footer-content .kanan {
    text-align: center;
    width: 30%;
    box-sizing: border-box;
}
.footer .footer-content .kanan h3 {
    font-size: 1.5em;
    margin-bottom: 20px;
}
.footer .footer-content .kanan .sosmed {
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.footer .footer-content .kanan .sosmed div {
    width: 23%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
}
.footer .footer-content .kanan .sosmed div a {
    width: 80%;
    display: block;
    border-radius: 50%;
}
.footer .footer-content .kanan .sosmed div a img {
    width: 100%;
    transform: translateY(1px);
    border-radius: 50%;
}
.footer .footer-content .kanan .sosmed div a img:hover {
    box-shadow: 0px 3px 5px black;
    transform: translateY(-1px);
}
.footer .footer-content .kanan .sosmed div p {
    position: absolute;
    display: none;
    transform: translateY(60px);
    padding: 4px 15px;
    border-width: 1px;
    border-radius: 5px;
    color: white;
    background-color: black;
}
.footer .footer-content .kanan .sosmed div p::after {
    content: '';
    border: 10px solid black;
    border-top-color: transparent;
    border-left-color: transparent;
    border-right-color: transparent;
    position: absolute;
    left: 45px;
    top: -15px;

}
.footer .footer-content .kanan .sosmed div a:hover ~ p {
    display: block;
}

.footer .footer-content .kanan ul {
    list-style: none;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    box-sizing: border-boxs;
}
.footer .footer-content .kanan ul li {
    background-color: gray;
    border-radius: 10px;
}
.footer .footer-content .kanan ul li a {
    text-decoration: none;
    background-color: salmon;
    padding: 5px 15px;
    border-radius: 10px;
    border: 1px solid salmon;
    color: black;
}
.footer .footer-content .kanan ul li a:hover {
    color: white;
    background-color: black;
    border: 1px solid white;
}

.footer-logo {
    padding: 20px 0 20px 0;
    text-align: center;
}
.footer-logo p.atas {
    font-family: 'Londrina Shadow', cursive;
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 5px;
}
.footer-logo p.bawah {
    font-size: 1em;
    font-weight: bold;
    margin-bottom: 30px;
}
.footer-content p:hover,
.footer-logo p.atas:hover,
.footer-logo p.bawah:hover {
    color: white;
}

.footer .footer-end ul {
    list-style: none;
    background-color: #124559;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    box-sizing: border-box;
}
.footer .footer-end ul li::after {
    content: '|';
    margin: 0 8px;
    color: white;
}
.footer .footer-end ul li:last-child::after {
    display: none;
}
.footer .footer-end ul li a {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-size: 0.9em;
}
.footer .footer-end ul li a:hover {
    color: salmon;
    border-radius: 5px;
}


/* ==========================RESPONSIVE========================== */

@media screen and ( max-width: 1250px) {

    /* ===========FOOTER=========== */
    .footer .footer-content .kiri,
    .footer .footer-content .kanan {
        width: 45%;
    }
}

@media screen and ( max-width: 950px) {

    .developer {
        width: 70px;
    }

    /* =====================CONTENT SATU===================== */
    .c-satu .satu-judul {
        padding: 90px 20px;
    }
    .c-satu .satu-judul {
        width: 60%;
    }
    .c-satu .satu-judul h1 {
        font-size: 3em;
    }
    .c-satu .satu-gambar {
        width: 40%;
    }
}

@media screen and ( max-width: 850px) {
    /* ===========FOOTER=========== */
    .footer .footer-content {
        flex-direction: column;
        align-items: center;
    }
    .footer .footer-content .kiri {
        margin-top: -20px;
        margin-bottom: 30px;
    }
    .footer .footer-content .kiri p {
        width: 100%;
    }
    .footer .footer-content .kiri,
    .footer .footer-content .kanan {
        width: 100%;
    }
    .footer .footer-content .kanan div a img {
        width: 10%;
    }
    .footer .footer-content .kanan ul {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .footer .footer-content .kanan ul li {
        margin-bottom: 20px;
    }
    .footer .footer-content .kanan ul li:first-child::after {
        display: none;
    }
    .footer .footer-end ul {
        flex-wrap: wrap;
    }
    .footer .footer-end ul li a {
        font-size: 0.7em;
    }
}


@media screen and ( max-width: 768px) {
    .navbar .nav-atas .logo {
        font-size: 2em;
    }
    .navbar .nav-atas ul.menu {
        font-size: 90%;
        width: 50%;
    }

    /* =====================CONTENT SATU===================== */
    .c-satu .satu-judul {
        padding: 120px 20px;
    }
    .c-satu .satu-judul {
        width: 60%;
    }
    .c-satu .satu-judul h1 {
        font-size: 2.3em;
    }
    .c-satu .satu-gambar {
        width: 40%;
    }

    /* ===========CONTENT DUA=========== */
    .c-dua .dua-gambar {
        flex-direction: column;
        align-items: center;
    }
    .c-dua .dua-gambar div {
        width: 60%;
        margin-bottom: 30px;
    }

    .c-tiga .tiga-gambar img {
        width:50%;
    }
    .c-tiga .tiga-kalimat {
        flex-direction: column;
    }

    /* ===========CONTENT TIGA=========== */
    .c-tiga .tiga-gambar {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .c-tiga .tiga-gambar div {
        width: 80%;
        margin-bottom: 30px;
    }

    /* ===========FOOTER=========== */
    .footer .footer-content .kiri,
    .footer .footer-content .kanan {
        width: 100%;
    }
}

@media screen and ( max-width: 600px) {
    .navbar .nav-atas {
        flex-direction: column;
        height: 110px;
    }
    
    .navbar .nav-atas .logo {
        font-size: 2.3em;
    }
    .navbar .nav-atas .logo img {
        display: none;
    }
    .navbar .nav-atas ul.menu {
        font-size: 80%;
        padding-top: 0;
        width: 100%;
    }
    .navbar .nav-atas ul.menu li.sign-up a {
        padding: 4px 100px;
    }

    .developer {
        top: 135px;
    }

    /* ===========CONTENT SATU=========== */
    .c-satu {
        padding: 30px 20px;
        margin-top: 35px;
    }

    .c-satu .satu-judul {
        width: 100%;
    }
    .c-satu .satu-judul h1 {
        font-size: 2em;
    }
    .c-satu .satu-judul p {
        font-size: 0.8em;
    }
    .c-satu .satu-gambar {
        display: none;
    }

    .c-satu .satu-judul div.link a {
        padding: 10px 50px;
    }

    /* ===========CONTENT DUA=========== */
    .c-dua .dua-judul img {
        display: none;
    }
    .c-dua .dua-judul h1 {
        font-size: 1.5em;
    }

    .c-dua .dua-gambar div {
        width: 80%;

    }

    /* ===========CONTENT TIGA=========== */
    .c-tiga .tiga-judul img {
        display: none;
    }
    .c-tiga .tiga-judul h1 {
        font-size: 1.5em;
    }

    .c-tiga .tiga-gambar p {
        font-size: 1.5em;
    }

    .c-tiga .tiga-kalimat div h3 {
        font-size: 1em;
    }
    .c-tiga .tiga-kalimat div p {
        font-size: 0.8em;
    }

    /* ===========CONTENT EMPAT=========== */
    .c-empat .empat-judul img {
        display: none;
    }
    .c-empat .empat-judul h1 {
        font-size: 1.5em;
    }

    .c-empat .empat-gambar {
        flex-direction: column;
        align-items: center;
    }
    .c-empat .empat-gambar div {
        width: 80%;
    }

    /* ===========FOOTER=========== */
    .footer .footer-content {
        justify-content: center;
    }
    .footer .footer-content p {
        width: 80%;
    }
    .footer .footer-content .kanan div a img {
        width: 15%;
    }
}


@keyframes animasiLogo {
    0% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(-5px);
    }
    
    100% {
        transform: translateY(0px);
    }
}

@keyframes signUp {
    0% {
        box-shadow: 0px 0px 10px #01161e;
    }

    50% {
        box-shadow: none;
    }
    
    100% {
        box-shadow: 0px 0px 10px #01161e;
    }
}

@keyframes gambarJudul {
    0% {
        transform: translateY(-15px);
    }
    50% {
        transform: translateY(15px);
    }
    100% {
        transform: translateY(-15px);
    }
}

@keyframes devShadow {
    0% {
        box-shadow: 0 0 5px 2px black;
    }
    50% {
        box-shadow: none;
    }
    100% {
        box-shadow: 0 0 5px 2px black;
    }
}
