@import url('https://fonts.googleapis.com/css2?family=Londrina+Shadow&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mogra&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pirata+One&display=swap');

* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body {
    background-image: url(../img/bg-materi.png);
    font-family: 'Montserrat', sans-serif;
    background-size: cover;
    background-attachment: fixed;
}

/* =====================TOPBAR===================== */
div.navbar {
    width: 100%;
    background-color: #124559;
    position: fixed;
    box-sizing: border-box;
    z-index: 999;
}
.navbar .nav-atas {
    height: 75px;
    width: 100%;
    background-color: #01161E;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.navbar .nav-atas .logo {
    font-family: 'Londrina Shadow', cursive;
    font-size: 2.5em;
    display: flex;
    align-items: center;
}
.navbar .nav-atas img {
    width: 40px;
    height: 40px;
    padding-right: 10px;
    animation: animasiLogo 3s ease infinite;
}
.navbar .nav-atas .logo ul {
    list-style: none;
}
.navbar .nav-atas .logo ul li a {
    text-decoration: none;
    color: #fff;
}
.navbar .nav-atas .logo ul li a:hover {
    color: coral;
}

.navbar .nav-atas .menu {
    list-style: none;
    max-width: 700px;
    width: 40%;
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    box-sizing: border-box;
}
.navbar .nav-atas .menu li {
    padding: 10px 0;
    box-sizing: border-box;
}
.navbar .nav-atas .menu li a {
    text-decoration: none;
    color: #fff;
    position: relative;
    padding-bottom: 2px;
}
.navbar .nav-atas .menu li a:hover {
    color: coral;
}
.navbar .nav-atas .menu li a::after {
    content: '';
    height: 2px;
    width: 0;
    background-color: white;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: width 0.4s;
    border-radius: 10px;
}
.navbar .nav-atas .menu li a:hover::after {
    width: 100%;
    background-color: coral;
}
.navbar .nav-atas .menu li.sign-up a {
    color: white;
    background-color: #124559;
    border: 4px solid white;
    padding: 4px 15px;
    border-radius: 15px;
    box-sizing: border-box;
    box-sizing: border-box;
    transition: all 0.4s;
}
.navbar .nav-atas .menu li.sign-up a:hover {
    color: white;
    background-color: #124559;
    border: 4px solid #124559;

}
.navbar .nav-atas .menu li.sign-up a::after {
    content: none;
}

.space {
    height: 75px;
    width: 100%;
}

/* ==================SCROLL BACK TO TOP================== */
.scroll {
    width: 50px;
    border-radius: 50%;
}
.scroll img {
    width: 50px;
    position: fixed;
    bottom: 30px;
    right: 30px;
    z-index: 9999;
}
.scroll p {
    display: none;
    position: fixed;
    bottom: 90px;
    right: 10px;
    z-index: 9999;
    padding: 5px;
    border-radius: 5px;
    background-color: black;
    color: white;
    transform: translate(3px, -5px);
}
.scroll p::after {
    content: '';
    border: 10px solid black;
    border-left-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
    position: absolute;
    left: 38px;
    bottom: -17px;
}
.scroll img:hover {
    box-shadow: 0px 0px 8px black;
}
.scroll a:hover ~ p {
    display: block;
}


/* =====================CONTENT SATU===================== */
.c-satu {
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    background-size: cover;
    background-attachment: fixed;
}

.c-satu .satu-judul {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}
.c-satu .satu-judul h1 {
    color: white;
    padding-bottom: 0;
    font-size: 32px;
    font-weight: bold;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
    position: relative;
    transition: all 0.2s;
    cursor: default;
}
.c-satu .satu-judul h1::after {
    content: "";
    background-color: white;
    border-radius: 10px;
    height: 3px;
    width: 100%;
    position: absolute;
    bottom: 10px;
    left: 0;
    transition: all 0.2s;
}
.c-satu .satu-judul h1:hover {
    color: salmon;
}
.c-satu .satu-judul h1:hover::after {
    height: 7px;
    background-color: salmon;
}

.c-satu .satu-kalimat {
    width: 100%;
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-start;
    box-sizing: border-box;
}
.c-satu .satu-kalimat a {
    margin: 10px;
    width: 35%;
    text-decoration: none;
    display: flex;
    justify-content: center;
}
.c-satu .satu-kalimat a p {
    text-align: center;
    width: 90%;
    padding: 20px;
    font-size: 1em;
    font-weight: bold;
    background-image: url(../img/bg-main2.png);
    background-size: cover;
    background-attachment: fixed;
    color: #01161eaf;
    border-radius: 15px;
    text-transform: uppercase;
    box-shadow: 0px 2px 3px #01161E;
    transition: all 0.3s;
    position: relative;
    overflow: hidden;
    box-sizing: border-box;
    animation: mainMaterial ease 3s infinite;
}
.c-satu .satu-kalimat a p:hover {
    transform: translateY(-8px);
    box-shadow: 0px 4px 10px #01161E;
    color: white;
}
.c-satu .satu-kalimat a p::after {
    content: "";
    width: 100%;
    height: 10px;
    background-color: #01161eaf;
    position: absolute;
    left: 0;
    bottom: 0;
    transition: all 0.2s;
    
}
.c-satu .satu-kalimat a:hover p::after {
    height: 100%;
    z-index: -1;
}

/* =====================CONTENT DUA===================== */
.c-dua {
    margin-top: 100px;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    background-image:  url(../img/bg-main2.png);
    background-size: cover;
    background-attachment: fixed;
    cursor: default;
}

.c-dua .dua-judul {
    margin: 20px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.c-dua .dua-judul div {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.c-dua .dua-judul div img {
    width: 100px;
    animation: animasiQuotes 5s ease infinite;
}
.c-dua .dua-judul div h1 {
    font-family: 'Pirata One', cursive;
    font-size: 5em;
    letter-spacing: 5px;
    text-align: center;
}
.c-dua .dua-judul p{
    width: fit-content;
    font-family: 'Morga', cursive;
    font-size: 1em;
    text-align: center;
}
.c-dua .dua-judul h1:hover, .c-dua .dua-judul p:hover {
    color: salmon;
}

/* =====================MATERI SATU===================== */
.materi {
    margin-top: 100px;
    width: 100%;
    padding: 20px;
    background-size: cover;
    background-attachment: fixed;
    box-sizing: border-box;
}

.content-judul {
    width: 100%;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    cursor: default;
}
.content-judul h1 {
    width: fit-content;
    color: white;
    padding: 10px;
    text-align: center;
    position: relative;
    transition: all 0.3s;
    text-transform: uppercase;
}
.content-judul h1::after {
    content: "";
    width: 0;
    height: 5px;
    bottom: 0;
    left: 0;
    position: absolute;
    background-color: white;
    border-radius: 25px;
    transition: all 0.3s;
}
.content-judul h1:hover {
    color: salmon;
}
.content-judul h1:hover::after {
    width: 100%;
    background-color: salmon;
}

.content-materi {
    background-image: url(../img/bg-main2.png);
    background-size: cover;
    background-attachment: fixed;
    box-sizing: border-box;
    border-radius: 10px;
    padding: 5px 20px;
    box-sizing: border-box;
}
.content-materi .judul {
    display: flex;
    justify-content: center;
    align-items: center;
}
.content-materi h2 {
    padding: 20px;
    width: fit-content;
    position: relative;
    cursor: default;
}
.content-materi h2::after {
    content: "";
    width: 100%;
    height: 0;
    position: absolute;
    bottom: 10px;
    left: 0;
    background-color: black;
    border-radius: 10px;
    transition: all 0.2s;
}
.content-materi h2:hover {
    color: salmon;
    transition: all 0.2s;
}
.content-materi h2:hover::after {
    background-color: salmon;
    height: 7px;
}
.content-materi ul {
    width: 100%;
    list-style: none;
    background-color: #01161eaf;
    border-radius: 10px;
    overflow: hidden;
}
.content-materi ul li {
    width: 100%;
    padding: 10px;
    text-align: start;
    box-sizing: border-box;
    transition: all 0.4s;
}
.content-materi ul li:hover {
    background-color: rgba(255, 255, 255, 0.6);
    color: black;
}
.content-materi ul li:hover a {
    color: black;
}
.content-materi ul li:hover a:hover {
    color: salmon;
}
.content-materi ul li a {
    padding: 10px 25px;
    text-decoration: none;
    color: white;
    margin-left: 20px;
    box-sizing: border-box;
}
.content-materi .lengkap {
    width: 100%;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.content-materi .lengkap h3 {
    width: fit-content;
    text-align: center;
    margin-bottom: 10px;
    padding: 10px;
    box-shadow: 0px 3px 6px #01161e93;
    border-radius: 10px;
}
.content-materi .lengkap h3 a {
    text-decoration: none;
    color: black;
    padding: 5px 0;
    box-sizing: border-box;
    font-size: 0.8em;
    position: relative;
}
.content-materi .lengkap h3 a:hover {
    color: salmon;
    transition: all 0.4s;
}
.content-materi .lengkap h3 a::after {
    content: "";
    width: 0%;
    height: 2px;
    background-color: #01161E;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: all 0.4s;
}
.content-materi .lengkap h3 a:hover::after {
    background-color: salmon;
    width: 100%;
}

.content-video {
    background-image: url(../img/bg-main2.png);
    background-size: cover;
    background-attachment: fixed;
    border-radius: 10px;
    margin-top: 10px;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}
.content-video .judul {
    display: flex;
    justify-content: center;
    align-items: center;
}
.content-video .judul h2 {
    padding: 20px;
    width: fit-content;
    position: relative;
    cursor: default;
}
.content-video h2::after {
    content: "";
    width: 100%;
    height: 0;
    position: absolute;
    bottom: 10px;
    left: 0;
    background-color: black;
    border-radius: 10px;
    transition: all 0.2s;
}
.content-video h2:hover {
    color: salmon;
    transition: all 0.2s;
}
.content-video h2:hover::after {
    background-color: salmon;
    height: 7px;
}
.content-video .bungkus {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-start;
}
.content-video .bungkus .isi {
    text-align: center;
    width: 20%;
    margin: 20px;
    box-sizing: border-box;
    padding: 10px;
    background-color: transparent;
    border-radius: 10px;
    box-shadow: 0px 2px 5px #01161E;
    transition: all 0.4s;
}
.content-video .bungkus .isi:hover {
    background-color: rgba(255, 255, 255, 0.6);
    transform: translateY(-10px);
    box-shadow: 0px 5px 10px #01161E;
}
.content-video .bungkus .isi img {
    width: 100%;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    transition: all 0.4s;
}
.content-video .bungkus .isi img:hover {
    box-shadow: 0px 3px 5px #01161E;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}
.content-video .bungkus .isi hr {
    margin-top: 5px;
    margin-bottom: 10px;
}
.content-video .bungkus .isi p {
    font-size: 0.8em;
    margin-bottom: 15px;
}
.content-video .bungkus .isi a {
    padding: 3px 20px;
    color: white;
    text-decoration: none;
    background-color: rgba(0, 0, 0, 0.479);
    border-radius: 6px;
    font-size: 0.8em;
}
.content-video .bungkus .isi:hover a {
    background-color: black;
    transition: all 0.2s;
}
.content-video .bungkus .isi a:hover {
    background-color: rgba(250, 128, 114, 0.7);
    color: black;
    box-shadow: 0px 3px 5px black;
}
.content-video .lengkap {
    width: 100%;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.content-video .lengkap h3 {
    width: fit-content;
    text-align: center;
    margin-bottom: 10px;
    padding: 10px;
    box-shadow: 0px 3px 6px #01161e93;
    border-radius: 10px;
}
.content-video .lengkap h3 a {
    text-decoration: none;
    color: black;
    padding: 5px 0;
    box-sizing: border-box;
    font-size: 0.8em;
    position: relative;
}
.content-video .lengkap h3 a:hover {
    color: salmon;
    transition: all 0.4s;
}
.content-video .lengkap h3 a::after {
    content: "";
    width: 0%;
    height: 2px;
    background-color: #01161E;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: all 0.4s;
}
.content-video .lengkap h3 a:hover::after {
    background-color: salmon;
    width: 100%;
}

.content-other {
    background-image: url(../img/bg-main2.png);
    background-size: cover;
    background-attachment: fixed;
    border-radius: 10px;
    margin-top: 20px;
    padding: 20px;
}
.content-other .judul {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.content-other .judul h2 {
    width: fit-content;
    padding: 10px;
    position: relative;
    cursor: default;
}
.content-other h2::after {
    content: "";
    width: 100%;
    height: 0;
    position: absolute;
    bottom: 2px;
    left: 0;
    background-color: black;
    border-radius: 10px;
    transition: all 0.2s;
}
.content-other h2:hover {
    color: salmon;
    transition: all 0.2s;
}
.content-other h2:hover::after {
    background-color: salmon;
    height: 7px;
}
.content-other ul {
    width: 100%;
    list-style: none;
    background-color: #01161eaf;
    border-radius: 10px;
    overflow: hidden;
}
.content-other ul li {
    width: 100%;
    padding: 10px;
    text-align: start;
    box-sizing: border-box;
    transition: all 0.4s;
}
.content-other ul li:hover {
    background-color: rgba(255, 255, 255, 0.6);
    color: black;
}
.content-other ul li:hover a {
    color: black;
}
.content-other ul li:hover a:hover {
    color: salmon;
}
.content-other ul li a {
    padding: 10px 25px;
    text-decoration: none;
    color: white;
    margin-left: 20px;
    box-sizing: border-box;
}
.content-other .lengkap {
    width: 100%;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.content-other .lengkap h3 {
    width: fit-content;
    text-align: center;
    margin-bottom: 10px;
    padding: 10px;
    box-shadow: 0px 3px 6px #01161e93;
    border-radius: 10px;
}
.content-other .lengkap h3 a {
    text-decoration: none;
    color: black;
    padding: 5px 0;
    box-sizing: border-box;
    font-size: 0.8em;
    position: relative;
}
.content-other .lengkap h3 a:hover {
    color: salmon;
    transition: all 0.4s;
}
.content-other .lengkap h3 a::after {
    content: "";
    width: 0%;
    height: 2px;
    background-color: #01161E;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: all 0.4s;
}
.content-other .lengkap h3 a:hover::after {
    background-color: salmon;
    width: 100%;
}

/* =====================FOOTER===================== */
.footer {
    margin-top: 100px;
    width: 100%;
    background-image: url(../img/bg-footer.png);
    background-size: cover;
    background-attachment: fixed;
    box-sizing: border-box;
    cursor: default;
}

.footer .footer-content {
    padding: 80px 0 30px 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    box-sizing: border-box;
}
.footer .footer-content .kiri {
    text-align: center;
    width: 30%;
    box-sizing: border-box;
}
.footer .footer-content .kiri h3 {
    font-size: 1.5em;
    margin-bottom: 20px;
}
.footer .footer-content .kiri p {
    font-size: 1em;
}
.footer .footer-content .kiri p a {
    color: black;
    text-decoration: none;
}
.footer .footer-content .kiri p a:hover {
    color: salmon;
}


.footer .footer-content .kanan {
    text-align: center;
    width: 30%;
    box-sizing: border-box;
}
.footer .footer-content .kanan h3 {
    font-size: 1.5em;
    margin-bottom: 20px;
}
.footer .footer-content .kanan .sosmed {
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.footer .footer-content .kanan .sosmed div {
    width: 23%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
}
.footer .footer-content .kanan .sosmed div a {
    width: 80%;
    display: block;
    border-radius: 50%;
}
.footer .footer-content .kanan .sosmed div a img {
    width: 100%;
    transform: translateY(1px);
    border-radius: 50%;
}
.footer .footer-content .kanan .sosmed div a img:hover {
    box-shadow: 0px 3px 5px black;
    transform: translateY(-1px);
}
.footer .footer-content .kanan .sosmed div p {
    position: absolute;
    display: none;
    transform: translateY(60px);
    padding: 4px 15px;
    border-width: 1px;
    border-radius: 5px;
    color: white;
    background-color: black;
}
.footer .footer-content .kanan .sosmed div p::after {
    content: '';
    border: 10px solid black;
    border-top-color: transparent;
    border-left-color: transparent;
    border-right-color: transparent;
    position: absolute;
    left: 45px;
    top: -15px;

}
.footer .footer-content .kanan .sosmed div a:hover ~ p {
    display: block;
}

.footer .footer-content .kanan ul {
    list-style: none;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    box-sizing: border-boxs;
}
.footer .footer-content .kanan ul li {
    background-color: gray;
    border-radius: 10px;
}
.footer .footer-content .kanan ul li a {
    text-decoration: none;
    background-color: salmon;
    padding: 5px 15px;
    border-radius: 10px;
    border: 1px solid salmon;
    color: black;
}
.footer .footer-content .kanan ul li a:hover {
    color: white;
    background-color: black;
    border: 1px solid white;
}

.footer-logo {
    padding: 20px 0 20px 0;
    text-align: center;
}
.footer-logo p.atas {
    font-family: 'Londrina Shadow', cursive;
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 5px;
}
.footer-logo p.bawah {
    font-size: 1em;
    font-weight: bold;
    margin-bottom: 30px;
}
.footer-content p:hover,
.footer-logo p.atas:hover,
.footer-logo p.bawah:hover {
    color: white;
}

.footer .footer-end ul {
    list-style: none;
    background-color: #124559;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    box-sizing: border-box;
}
.footer .footer-end ul li::after {
    content: '|';
    margin: 0 8px;
    color: white;
}
.footer .footer-end ul li:last-child::after {
    display: none;
}
.footer .footer-end ul li a {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-size: 0.9em;
}
.footer .footer-end ul li a:hover {
    color: salmon;
    border-radius: 5px;
}

/* ==========================RESPONSIVE========================== */

@media screen and ( max-width: 1250px) {

    /* ===========FOOTER=========== */
    .footer .footer-content .kiri,
    .footer .footer-content .kanan {
        width: 45%;
    }
}

@media screen and ( max-width: 850px) {
    /* ===========FOOTER=========== */
    .footer .footer-content {
        flex-direction: column;
        align-items: center;
    }
    .footer .footer-content .kiri {
        margin-top: -20px;
        margin-bottom: 30px;
    }
    .footer .footer-content .kiri p {
        width: 100%;
    }
    .footer .footer-content .kiri,
    .footer .footer-content .kanan {
        width: 100%;
    }
    .footer .footer-content .kanan div a img {
        width: 10%;
    }
    .footer .footer-content .kanan ul {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .footer .footer-content .kanan ul li {
        margin-bottom: 20px;
    }
    .footer .footer-content .kanan ul li:first-child::after {
        display: none;
    }
    .footer .footer-end ul {
        flex-wrap: wrap;
    }
    .footer .footer-end ul li a {
        font-size: 0.7em;
    }
}

@media screen and ( max-width: 768px) {
    .navbar .nav-atas .logo {
        font-size: 2em;
    }
    .navbar .nav-atas .menu {
        font-size: 90%;
        width: 50%;
    }

    /* =================CONTENT SATU================= */
    .c-satu .satu-judul h1 {
        font-size: 1.8em;
    }
    .c-satu .satu-kalimat a {
        width: 45%;
    }
    .c-satu .satu-kalimat a p {
        font-size: 0.8em;
    }

    /* =================CONTENT DUA================= */
    .c-dua .dua-judul div h1 {
        font-size: 4em;
    }

    /* =================MATERI================= */
    .content-judul h1 {
        font-size: 1.8em;
    }
    .content-materi .judul h2 {
        font-size: 1.2em;
    }
    .content-materi ul li a {
        font-size: 0.8em;
    }
    .content-materi .lengkap h3 {
        font-size: 0.85em;
    }

    .content-video .judul h2 {
        font-size: 1.2em;
    }
    .content-video .bungkus .isi {
        width: 40%;
    }
    .content-video .lengkap h3 {
        font-size: 0.85em;
    }

    .content-other .judul h2 {
        font-size: 1.2em;
    }
    .content-other ul li a {
        font-size: 0.8em;
    }
    .content-other .lengkap h3 {
        font-size: 0.85em;
    }

    /* ===========FOOTER=========== */
    .footer .footer-content .kiri,
    .footer .footer-content .kanan {
        width: 100%;
    }
}

@media screen and ( max-width: 600px) {
    .navbar .nav-atas {
        flex-direction: column;
        height: 110px;
    }
    
    .navbar .nav-atas .logo {
        font-size: 2.3em;
    }
    .navbar .nav-atas img {
        display: none;
    }
    .navbar .nav-atas .menu {
        font-size: 80%;
        padding-top: 0;
        width: 100%;
    }

    /* =================CONTENT SATU================= */
    .c-satu {
        margin-top: 20px;
        box-sizing: border-box;
    }
    .c-satu .satu-judul h1 {
        font-size: 1.5em;
    }
    .c-satu .satu-kalimat {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .c-satu .satu-kalimat a {
        width: 90%;
        display: flex;
        justify-content: center;
    }
    .c-satu .satu-kalimat a p {
        font-size: 0.9em;
    }

    /* =================CONTENT DUA================= */
    .c-dua .dua-judul div h1 {
        font-size: 1.8em;
    }
    .c-dua .dua-judul div img {
        display: none;
    }
    .c-dua .dua-judul p {
        font-size: 0.8em;
    }

    /* =================MATERI================= */
    div.id {
        height: 20px;
    }

    .content-judul h1 {
        font-size: 1.5em;
    }
    .content-materi .judul h2 {
        font-size: 1.2em;
    }
    .content-materi ul li a {
        font-size: 0.8em;
    }
    .content-materi .lengkap h3 {
        font-size: 0.85em;
    }

    .content-video .judul h2 {
        font-size: 1.2em;
    }
    .content-video .bungkus .isi {
        width: 70%;
    }
    .content-video .lengkap h3 {
        font-size: 0.85em;
    }

    .content-other .judul h2 {
        font-size: 1.2em;
    }
    .content-other ul li a {
        font-size: 0.8em;
    }
    .content-other .lengkap h3 {
        font-size: 0.85em;
    }


    /* ===========FOOTER=========== */
    .footer .footer-content {
        justify-content: center;
    }
    .footer .footer-content p {
        width: 80%;
    }
    .footer .footer-content .kanan div a img {
        width: 15%;
    }
}


@keyframes animasiLogo {
    0% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(-5px);
    }
    
    100% {
        transform: translateY(0px);
    }
}

@keyframes animasiQuotes {
    0% {
        transform: translateY(20px);
    }

    50% {
        transform: translateY(-20px);
    }
    
    100% {
        transform: translateY(20px);
    }
}

@keyframes mainMaterial {
    0% {
        transform: translateY(-2px);
    }
    25% {
        transform: translateY(2px);
    }
    50% {
        transform: translateY(-2px);
    }
    75% {
        transform: translateY(2px);
    }
    100% {
        transform: translateY(-2px);
    }
}