@import url('https://fonts.googleapis.com/css2?family=Londrina+Shadow&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;800&display=swap');

* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body {
    background-image: url(../img/bg-main2.png);
    background-size: cover;
    background-attachment: fixed;
    background-attachment: fixed;
    font-family: 'Montserrat', sans-serif;
}

/* =====================FORM===================== */
.sign-up {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.center {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form {
    height: 70vh;
    width: 40%;
    padding: 10px;
    box-shadow: 0px 3px 7px black;
    border-radius: 6px;
    background-color: transparent;
    box-sizing: border-box;
}
.dev {
    height: 80vh;
}
.form:hover {
    box-shadow: 0px 5px 10px black;
    background-color: rgba(255, 255, 255, 0.8);
}
.form h1 {
    text-align: center;
    padding: 5px 0;
    margin-bottom: 10px;
    font-size: 2.5em;
    box-sizing: border-box;
    animation: gerak 1.5s ease infinite;
}
.form p.sub  {
    text-align: center;
    margin-bottom: 10px;
    box-sizing: border-box;
    font-weight: bolder;
    animation: gerak 0.7s ease infinite reverse;
}
.form hr {
    width: 100%;
    margin-bottom: 10px;
    background-color: black;
}

.form form {
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.form form input {
    margin-bottom: 10px;
    background-color: transparent;
    border-radius: 10px;
    border: 2px solid black;
    transition: all 0.2s;
    box-sizing: border-box;
}
.form form input:hover {
    box-shadow: 0px 1px 3px black;
    transform: translateY(-2px);
}
.form form input[type='text'] {
    padding: 7px 15px;
    width: 48%;
    background-color: rgba(255, 255, 255, 0.8);
}
.form form input[name='username'],
.form form input[name='server'],
.form form input[name='database'] {
    width: 100%;
}
.form form input[type='email'],
.form form input[type='password'] {
    padding: 7px 15px;
    background-color: rgba(255, 255, 255, 0.8);
    width: 100%;
}
.form:hover form input[type='text'],
.form:hover form input[type='email'],
.form:hover form input[type='password'] {
    background-image: url(../img/bg-main2.png);
    background-size: cover;
    background-attachment: fixed;
}

.form p.pass {
    margin: 5px 0;
    font-size: 0.75em;
    font-weight: bold;
}
button {
    padding: 10px;
    width: 100%;
    background-color: lightgreen;
    border-radius: 10px;
    border: 2px solid black;
}
button:hover {
    color: salmon;
    background-color: black;
    border: 2px solid black;
}

.form p.link {
    font-size: 0.8em;
    text-align: center;
    margin-top: 10px;
}
.form p.link a {
    text-decoration: none;
    color: blue;
}
.form p.link a:hover {
    color: salmon;
}

/* cookie */
.form form div {
    margin-bottom: 10px;
}
.form form div label {
    font-family: sans-serif;
    font-size: 0.9em;
}
.form form div input:hover {
    transform: translateY(0px);
    box-shadow: none;
}


/* ==========================RESPONSIVE========================== */

@media screen and ( max-width: 1000px) {
    .form {
        height: 75vh;
        width: 50%;
    }
    .dev {
        height: 85vh;
    }
    .form h1 {
        font-size: 2em;
    }
    .form p.sub {
        font-size: 0.8em;
    }
    .form form input[type='text'] {
        width: 100%;
    }
}

@media screen and ( max-width: 768px) {
    .form {
        height: 75vh;
        width: 60%;
    }
    .dev {
        height: 85vh;
    }
}

@media screen and ( max-width: 600px) {

    .form {
        height: 75vh;
        width: 80%;
    }
    .dev {
        height: 85vh;
    }
    .form h1 {
        font-size: 1.8em;
    }
    .form p.sub {
        font-size: 0.7em;
    }
    .form form p.pass {
        font-size: 0.7em;
    }

    /* ===========FOOTER=========== */
    .footer .footer-content {
        justify-content: center;
    }
    .footer .footer-content p {
        width: 80%;
    }

    .footer .footer-logo p.bawah {
        font-size: 0.8em;
    }
}

@keyframes gerak {
    0% {
        transform: rotate(0.3deg);
    }
    50% {
        transform: rotate(-0.3deg);
    }
    100% {
        transform: rotate(0.3deg);
    }
}