* {
    margin: 0;
    padding: 0;
}
body {
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form {
    margin-top: 50px;
    border-radius: 8px;
    text-align: center;
    background-color: gray;
    padding: 10px;
    box-sizing: border-box;
    width: 50%;
}

.form h1 {
    padding: 2px;
    margin-top: 20px;
    margin-bottom: 10px;
}
.form form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.form form label {
    margin-top: 10px;
}
.form form input {
    width: 400px;
    padding: 5px 15px;
    text-align: center;
    border-radius: 7px;
    border: 1px solid black;
}


.form form ul {
    margin-top: 20px;
    list-style: none;
}
.form form ul li {
    background-color: green;
    display: inline-block
}
.form form ul li button {
    padding: 5px 15px;
}

.form form ul li button[type="submit"] {
    background-color: green;
    border: 1px solid white;
    border-radius: 3px;
    color: white;
    cursor: pointer;
}
.form form ul li button[type="submit"]:hover {
    background-color: black;
}
.form form ul li button[type="button"] {
    background-color: red;
    border: 1px solid white;
    border-radius: 3px;
    color: white;
    cursor: pointer;
}
.form form ul li button[type="button"]:hover {
    background-color: black;
}